<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="COT Driver"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".CotApplication"
        android:theme="@style/Theme.COTDriver">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Geo Terminal Service -->
        <service
            android:name=".data.GeoTerminalService"
            android:foregroundServiceType="location"
            android:exported="false" />
        <service
            android:name=".fcm.CotFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".worker.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".worker.ActivarViajeReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.driverlog.ACTIVAR_VIAJE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".worker.ViajeFinalizadoReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.driverlog.FINALIZAR_VIAJE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".worker.SyncJornadaReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.driverlog.SYNC_JORNADA" />
            </intent-filter>
        </receiver>

    </application>

</manifest>